# Ignore thess:
*.json
*.proj
*.sln
*.csproj
*.cache
*.txt
*.xproj
*.user
*.suo
*.exe
*.config
*.pdb
*.manifest
*.dg
*.dll
*.rsp
*.xml
Debug/
Release/
packages/
obj/
Properties/
.vs/
.vscode/
.DS_Store

# Except:
!.gitignore
!*.cs